.TripList {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .TripList > input {
    border: none;
    border-bottom: 1px solid #c3c3c3;
    padding: 15px 0;
  }
  
  .TripList > input:focus {
    outline: none;
    border-bottom: 1px solid rgb(37, 147, 255);
  }
  
  .trips-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  